  <div class="textcontainer">
		<span class="contentHeader"><strong>How To Spend Time With Abba (TWA)?</strong></span>
		<ol start=1 type=1>
			<li>
			<strong>READ &ndash; Scribing</strong> - Exercising and reclaiming the <u>gift of obedience</u> to the <strong>FATHER</strong> in order to receive His inheritance as His son/daughter:
			<p></p>
			<ol start=1 type=A>
				<li>Scribe down the entire <strong>Psalm</strong> verses.</li>
				<li>Then read out loud verbally as they go through both <strong>OT</strong> and <strong>NT</strong> passages and jot down without contemplating on the words that jump out at you regarding:
				<ol start=1 type=i>
					<li>Nature, virtues and actions of God</li>
					<li>Nature, condition, character and sins of men</li>
					<li>Godly inheritance as promised by Abba to His children</li>
				</ol>
				</li>
				<li>Then scribe the entire <strong>Proverb</strong> verses.</li>
			</ol>
			</li>
			<p></p>
			<li>
			<strong>REFLECT &ndash; Color Coding</strong> - Exercising and reclaiming the <u>gift of freedom led by</u> the <strong>HOLY SPIRIT</strong> to identify what has been recorded:
			<p></p>
			<ol start=1 type=A>
				<li>Nature, virtues and actions of God - <strong>BLUE</strong></li>
				<li>Nature, condition, character and sins of men - <strong>RED</strong></li>
				<li>Godly inheritance as promised by God to His children - <strong>GREEN</strong></li>
			</ol>
			</li>
			<p></p>
			<li>
			<strong>RESPOND &ndash; Personal Intercession</strong> - Accessing the <u>Christ-like characters</u> by <u>praying</u> to the Father <u>through</u> the <strong>SON</strong> Jesus Christ based on what has been digested after color-coding:
			<p></p>
			<ol start=1 type=A>
				<li><strong>Praise</strong> - Praising the nature, virtues and actions of God.</li>
				<li><strong>Confess</strong> - Confessing and repenting from the nature, condition, character and sins of self and others, i.e. bloodline, cities and nations.</li>
				<li><strong>Renounce</strong> - Cutting demonic ties and curses with the authority and power given to the child of God as a result of confession.</li>
				<li><strong>Declare</strong> - Declaring over self and others the God-given rights and inheritance as promised by the Father.</li>
			</ol>
			</li>
			<p></p>
			<li>
			<strong>REST &ndash; Listening Prayer</strong> - In silence wait to hear the <u>VOICE</u> OF <strong>GOD:</strong>
			<p></p>
			<ol start=1 type=A>
				<li>As you wait, ask the Lord to fill you with His HOLY SPIRIT and give you eyes and ears of the Spirit.</li>
				<li>As you wait, you may have impressions of words or pictures.</li>
				<li>Jot down or draw the words or pictures as you hear and see in the Spirit.</li>
			</ol>
			</li>
		</ol>
	</div>
