    <div class="textcontainer" id="contentAboutZH">
		<span class="contentHeader"><strong>如何親親爸父?</strong></span>
		<ol start=1 type=1>
			<li>
				<strong>頌讀 (READ) &ndash; 錄寫</strong> - 操練並重領<u>服從</u><strong>爸父</strong>的恩賜，以致能承受作兒女的產業:
				<p></p>
				<ol start=1 type=A>
					<li>錄寫下整段<strong>詩篇</strong>；</li>
					<li>朗誦<strong>新、舊約</strong>經文 ，不加思索地錄寫下一些觸動你而有關於以下的字句:
						<ol type=i>
							<li>神的屬性、美德及祂的作為</li>
							<li>人的屬性、狀況、性格、 罪孽等</li>
							<li>神給兒女們的應許/產業</li>
						</ol>
					</li>
					<li>錄寫下整段<strong>箴言</strong></li>
				</ol>
			</li>
			<p></p>
			<li>
			<strong>反思 (REFLECT) &ndash; 以顏色分類</strong> - 在這過程中，操練和開啟在靈裏的自由去反思你所記錄的字句︰
			<p></p>
			<ol type=A>
				<li>神的屬性、美德及祂的作為 - <strong>藍色</strong></li>
				<li>人的屬性、狀況、性格、 罪孽等 - <strong>紅色</strong></li>
				<li>神給兒女們的應許/產業 - <strong>綠色</strong></li>
			</ol>
			</li>
			<p></p>
			<li>
			<strong>回應 (RESPOND) &ndash; 個人<u>禱告 </u></strong> - 從第二步驟以顏色刻劃出來所領受的， <u>藉著神兒子</u>耶穌基督向爸父禱告以換取基督的性情:
			<p></p>
			<ol type=A>
				<li><strong>讚美</strong> - 讚美並宣告神的屬性、美德及祂的作為；</li>
				<li><strong>認罪</strong> - 為個人、家族、城市及國家的屬性、狀況、性情、罪孽等認罪悔改；</li>
				<li><strong>棄絕</strong> - 憑著認罪而得的權柄和能力，來砍斷從撒但而來的捆鎖及詛咒；</li>
				<li><strong>宣告</strong> - 領取爸父所應許的名分及產業。</li>
			</ol>
			</li>
			<p></p>
			<li>
			<strong>安歇 (REST) &ndash; 聆聽禱告 </strong> - 安靜等候、聆聽爸父的<u>聲音</u>
			<p></p>
			<ol type=A>
				<li>在等待中，求聖靈充滿、打開你的眼睛及耳朵；</li>
				<li>在等待中，你或許會領受一些圖像或字句；</li>
				<li>寫下在靈裡所聽到、見到的圖片、字眼，亦可以將圖畫劃出來。</li>
			</ol>
			</li>
		</ol>
	</div>
